.search-container{
    margin:15px 0 0 30px;
    width:40%;

.search-input{
    background-color: white;
     opacity:0.5;
    color:black;
    height:40px;
     }
}

.toolbar{
    padding:0;
    
    .logo{
    width:150px;
    color:white;
    font-family: 'Coda', cursive;
}
}
.api-list{
    height:600px;
    list-style-type: none;
}
.table-rows{
    opacity:0.9;
    color:white;
    height: 70px;
}
.table-rows:nth-child(2n){
    background-color: #2a313d;

}
.table-rows:nth-child(2n+1){
    background-color: #121419;
}
td{
    text-align: center;
    padding:10px;
}
.table-heading{
    opacity:0.9;
    color:white;
    height: 70px;
    background-color: black;
}
md-toolbar{
    position: fixed;
    z-index:2;
}
.main-content{
    margin-top:50px;
}
table,td,tr{
    border:1px solid #20213d;
    // opacity:0.9;
}

.hide{
display:none;
}