body{
    // background-image: url('../../../assets/images/background1.jpg') ;
    // background-color: red;

.get-started-button{
    float: right;
    height:50px;
    width: 50%;
}
.submit-your-api-button{
    height:50px;
    width: 50%;
}
.main-logo{
height:150px;
margin:200px 0 0 0;
font-size:50px;
text-align: center;
}
}