<body>
    <!--<img src="../../assets/images/background.jpg" />-->
    <div class="container">
        <div class="row">
            <div class="main-logo">
          <amp-dash [typeText]="'<DEV SPACE>'" [typeLoop]="true" class="col-xs-8 col-xs-offset-2"></amp-dash>
            </div>
        </div>
        <div class="row button-family">

            <div class="col-xs-6">
                <button (click)="nav()" class=" get-started-button" md-raised-button color="primary">Get started</button>
            </div>
            <!--<div class="col-md-3"></div>-->
            <div class="col-xs-6">
                <button (click)="directtosso()" class="submit-your-api-button" md-raised-button color="primary"> Log In</button>
            </div>
            
        </div>
    </div>

    <body>